name: CI

on: [pull_request, push, workflow_dispatch]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Shell Check
      run: ./shellcheck.sh
      shell: bash

  build:
    name: Build
    needs: check
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false # while testing
      matrix:
        include:
        - target: x86_64-unknown-linux-gnu
          arch: x86_64
          os: ubuntu-22.04
          rust: stable
          tar: linux
          out_dir: out
        - target: aarch64-unknown-linux-gnu
          arch: aarch64
          os: ubuntu-22.04-arm
          rust: stable
          tar: linux
          out_dir: out
        - target: aarch64-apple-darwin
          arch: aarch64
          os: macos-latest
          rust: stable
          tar: osx
          out_dir: out
        - target: x86_64-apple-darwin
          arch: x86_64
          os: macos-15-intel
          rust: stable
          tar: osx
          out_dir: out
        - target: x86_64-pc-windows-msvc
          arch: x86_64
          os: windows-latest
          rust: stable
          tar: windows
          out_dir: /c/out
    steps:
    - uses: actions/checkout@v1
    - name: Free Disk Space (Ubuntu)
      uses: jlumbroso/free-disk-space@main
      if: matrix.os == 'ubuntu-22.04'
      with:
        tool-cache: false
    - name: Install Ninja
      run: |
        curl -L -O "https://github.com/ninja-build/ninja/releases/download/v1.12.1/ninja-win.zip" && \
        unzip -o ninja-win.zip -d /usr/bin && rm ninja-win.zip
      if: matrix.tar == 'windows'
      shell: bash
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: 1.89.0
      if: matrix.tar == 'windows'
    - name: Build
      run: ./build.sh ${{ matrix.out_dir }}
      shell: bash
      if: matrix.tar == 'windows'
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=https://github.com/NixOS/nixpkgs/archive/871b9fd269ff6246794583ce4ee1031e1da71895.tar.gz
      if: matrix.tar != 'windows'
    - name: Build
      run: ./build.sh --nix ${{ matrix.out_dir }}
      shell: bash
      if: matrix.tar != 'windows'
    - name: Upload ${{ matrix.tar }} tarball
      uses: actions/upload-artifact@v4
      with:
        name: platform-tools-${{ matrix.tar }}-${{ matrix.arch }}.tar.bz2
        path: platform-tools-${{ matrix.tar }}-${{ matrix.arch }}.tar.bz2

  release:
    name: Upload Release Assets
    needs: build
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    steps:
    - name: Download Linux x86 tarball
      uses: actions/download-artifact@v4
      with:
        name: platform-tools-linux-x86_64.tar.bz2
    - name: Download Linux ARM tarball
      uses: actions/download-artifact@v4
      with:
        name: platform-tools-linux-aarch64.tar.bz2
    - name: Download macOS ARM tarball
      uses: actions/download-artifact@v4
      with:
        name: platform-tools-osx-aarch64.tar.bz2
    - name: Download macOS x86 tarball
      uses: actions/download-artifact@v4
      with:
        name: platform-tools-osx-x86_64.tar.bz2
    - name: Download Windows tarball
      uses: actions/download-artifact@v4
      with:
        name: platform-tools-windows-x86_64.tar.bz2
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
    - name: Release Linux x86 tarball
      id: upload-release-linux-x86_64
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: platform-tools-linux-x86_64.tar.bz2
        asset_name: platform-tools-linux-x86_64.tar.bz2
        asset_content_type: application/zip
    - name: Release Linux ARM tarball
      id: upload-release-linux-aarch64
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: platform-tools-linux-aarch64.tar.bz2
        asset_name: platform-tools-linux-aarch64.tar.bz2
        asset_content_type: application/zip
    - name: Release macOS ARM tarball
      id: upload-release-macos-aarch64
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: platform-tools-osx-aarch64.tar.bz2
        asset_name: platform-tools-osx-aarch64.tar.bz2
        asset_content_type: application/zip
    - name: Release macOS x86 tarball
      id: upload-release-macos-x86_64
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: platform-tools-osx-x86_64.tar.bz2
        asset_name: platform-tools-osx-x86_64.tar.bz2
        asset_content_type: application/zip
    - name: Release Windows tarball
      id: upload-release-windows
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: platform-tools-windows-x86_64.tar.bz2
        asset_name: platform-tools-windows-x86_64.tar.bz2
        asset_content_type: application/zip
